<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>EPDM LTD</title>
  <link href=
  "https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" 
            rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css"/>
</head>
<body class="bg-primary-subtle" id = "top-navbar">
    <div class="blur">
        <div class="row g-0 mainGrid">
            <div class="col-lg-3 sideDiv">
                <div class="navbar p-3 sideBar mx-auto" id="navbar-div2">
                    <div class="sideBarImgDiv mx-auto" style="height:50px;">
                        <div class="text-center">
                          <figure class="text-center p-3" id = "imgFigure">
                            <img  class = "sideBarimg img-fluid rounded" src="https://raw.githubusercontent.com/Dragsvillestar/new-git/refs/heads/master/IMG-20250125-WA0011%20(1).jpg" alt="">
                            <figcaption class="mt-2 text-muted"><strong class = "mb-0" style = "font-size : 20px;font-weight: 900;">ENERGY PROJECTS</strong><span id = "figSpan" style = "display:block;font-weight: 600;">DATA MEDIA LTD.</span></figcaption>
                          </figure>  
                          <h6 class="p-2 fw-bold" id = "oilHead">OIL AND GAS PROJECTS BY SECTOR</h6>
                        </div>
                        <div class="container-ul mx-auto">
                        <ul class="m-3">
                            <h6 class="listHead">UPSTREAM</h6>
                            <li>Addax</li>
                            <li class="mb-0">Agip</li>
                            <p class="text-start">.......</p>
                        </ul>
                        <ul class="m-3">
                            <h6 class="listHead">MIDSTREAM</h6>
                            <li>NLNG Ltd</li>
                            <li class="">Brass LNG Ltd</li>
                            <p class="text-start">.......</p>
                        </ul>
                        <ul class="m-3">
                          <h6 class="listHead">DOWNSTREAM</h6>
                          <li>Dangote Refinery</li>
                          <li>PH Refinery</li>
                          <li>Orient Refinery</li>
                          <p class="text-start">.......</p>
                        </ul>
                        <ul class="m-3">
                          <h6 class="listHead">SERVICE COMPANY</h6>
                          <li>AA Limited</li>
                          <li class="">AB Services</li>
                          <li class="">CNC Nig. Limited</li>
                          <p class="text-start">.......</p>
                        </ul>
                        <ul class="m-3"  id = "lastUl">
                          <h6 class="listHead">OEM/MANUFACTURERS</h6>
                          <li>Metec West Africa</li>
                          <li class="">TNT Electrodes Nig</li>
                          <li class="">ZY Pipes</li>
                          <p class="text-start">.......</p>
                        </ul>                        
                        </div>
                    </div>                
                </div>
            </div>
            <div class="col-lg-9" style = "height:100%;">
               <div class="hj">
                <div class="row" style = "height:100%;">
                  <div class="col-12" style = "height:100%;">
                      <div class="b-img">
                          <div class="header-container p-3">
                              <div class="logo-area flex-grow-1 text-start">
                                <div class="d-flex">                                  
                                  <img  class = "img-fluid mx-2" id = "headerlogo" src="https://raw.githubusercontent.com/Dragsvillestar/new-git/refs/heads/master/IMG-20250125-WA0011%20(1).jpg" alt="">                            
                                  <h1>ENERGY PROJECTS DATA MEDIA LTD.</h1>                                  
                                </div>
                                  <p class="p-2 rounded mt-2" id = "logocaption"><i>your reliable and realtime energy projects market place</i></p>
                                  <div class="d-flex justify-content-center">
                                    <h6 class="text-center reg">Registered member? <a class="text-danger" id = "loginLink" onclick="openDialog()">Log in</a>
                                    </h6>      
                                  </div>                                                                  
                                </div>
                              <dialog id = "bioDialog">
                              </dialog>
                              <dialog id="loginDialog">
                                <h2>LOGIN</h2>
                                <form id="loginForm">
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="usernameSpan">Username</span>
                                    <input type="text" class="form-control" placeholder="Username" id = "username" name="username" required>
                                  </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="passwordSpan">Password</span>
                                    <input type="password" class="form-control" placeholder="Password" id = "password" name="password" required>
                                  </div>
                                  <button type="submit" id="submitLogin">Login</button>
                                  <button type="button" id="closeLogin" onclick="closeDialog()">Cancel</button>
                                </form>
                                <p id="error-message" class= "text-center mt-3" style="color: white;"></p>
                                <h6 class="m-3">Not a member? <a id = "signUpLink" class="text-danger" onclick="signUp()">Sign Up</a></h6>
                              </dialog>                                
                          </div>
                      </div>
                      <nav class="navbar navbar-expand-md topBar">
                          <div class="container-fluid">
                            <button class="navbar-toggler m-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav  d-flex topBarUl mx-auto">
                                <li class="nav-item">
                                  <a class="nav-link text-light" onclick= "aboutUs()">ABOUT US</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-light" href="#" onclick="services()">OUR SERVICES</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-light" id = "teamInfo" onclick="ourTeam()">OUR TEAM</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-light" href="#" id = "partners">OUR PARTNERS</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-light" href="#">PROJECT INTERVIEW</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-light" href="#">NEWS</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-light" href="#" onclick="contactUs()">CONTACT US</a>
                                </li>                        
                              </ul>
                            </div>
                          </div>
                      </nav>
                      <div class="project-list mb-0 p-3">
                        <div class="projectUl">                           
                          <ul style="list-style-position: inside;">
                            <h5 class="fw-bold mb-3" id="project-head">OIL AND GAS PROJECTS</h5>
                            <li class="fw-bold m-3">NLNG Train 7 Project</li>
                            <li class="fw-bold m-3">AKK Gas Pipeline Project</li>
                            <li class="fw-bold m-3">Dangote 650,000bpd Refinery Plant Project</li>
                            <li class="fw-bold m-3">Bonga SWA Field Development Project(FPSO Package)</li>
                            <li class="fw-bold m-3">Bonga SWA Field Development Project(SPS Package)</li>
                          </ul>
                        </div>
                      
                        <div class="row mb-4 moreDiv">
                          <div class="col-4"></div>
                          <div class="col-4"></div>
                          <div class="col-4">
                            <p class="text-end fw-bold more d-flex">more <i class="bi bi-chevron-double-right"></i></p>
                          </div>
                        </div>
                      
                        <div class="input-group input-group-sm mb-3 d-flex justify-content-end">
                          <span class="input-group-text" id="searchSpan">Search</span>
                          <input type="text" class="form-control" id="searchInput">
                        </div>
                      </div>                                                                     
                  </div>
              </div>
               </div>                
              <footer class="text-light text-center">
                <div class = "d-flex justify-content-center">
                   <p class="text-start p-3">Copyright @ 2025. All rights reserved Energy Projects Data Media Ltd.</p>
                </div>                             
          </footer>             
            </div>
        </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  
  <script src="./script.js">
    
  </script>
</body>
</html>